<div class="container">
    <h3 class="mt-4 mb-4">Foglalásaim</h3>
    <hr>
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Név</th>
          <th>E-mail</th>
          <th>Role</th>
          <th class="text-end">Műveletek</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users; let i = index">
          <td>{{i+1}}.</td>
          <td>{{user.name}}</td>
          <td>{{user.email}}</td>
          <td>{{user.role}}</td>
          <td class="text-end"><button class="btn btn-danger" (click)="Torles(user.id)">Torles</button></td>
          <!--
            //TODO: foglalás lemondási idő a startdate előtt 3 nappal!
          -->
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="7">Összesen: {{users.length}} foglalás</td>
        </tr>
      </tfoot>
    </table>
  </div>
  