<h1>Elfelejtett jelszó</h1>
<h3>Kedves felhasználó!</h3>
<p>
    A jelszava visszaállításához kattintson az alábbi link-re:
</p>
<a href="<%= content.link %>"><%= content.link %></a>
<h6>Üdvözlettel: Szállásfoglaló App</h6>