<div>
  <h3 class="mt-4 mb-4">Szállások kezelése</h3>
  <h4 class="mb-4">Új szállás felvétele</h4>

  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="title" placeholder="" [(ngModel)]="room.title">
    <label for="title">Szállás neve</label>
  </div>

  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="address" placeholder="" [(ngModel)]="room.address">
    <label for="address">Címe</label>
  </div>

  <div class="form-floating mb-3">
    <input type="email" class="form-control" id="email" placeholder="" [(ngModel)]="room.email">
    <label for="email">E-mail címe</label>
  </div>

  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="phone" placeholder="" [(ngModel)]="room.phone">
    <label for="phone">Telefonszáma</label>
  </div>

  <div class="form-floating mb-3">
    <input type="number" class="form-control" id="price" placeholder="" [(ngModel)]="room.price">
    <label for="price">Szoba ár (Ft/fő/éj)</label>
  </div>

  <div class="form-floating mb-3">
    <textarea class="form-control" placeholder="" id="descrption" [(ngModel)]="room.description"></textarea>
    <label for="descrption">Leírás</label>
  </div>

  <button class="btn btn-primary me-2" (click)="addRoom()" *ngIf="!editmode">Felvesz</button>
  <button class="btn btn-warning me-2" (click)="updateRoom()" *ngIf="editmode">Módosít</button>


  <button class="btn btn-secondary" routerLink="/admin/rooms">Vissza a szállások listájához</button>
</div>
